<form id="login-form" name="loginForm">
  <h1>Iniciar sesión</h1>Email
  <div class="email_login">
    <input value="" id="username_login" name="usr"  [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
  </div>
  Contrasenya
  <div class="contrasenya_login">
    <input type="password" value="" id="password_login" name="pw" [ngModelOptions]="{standalone: true}" [(ngModel)]="password">
  </div>
  <button type="submit" id="checkData">Iniciar sesión</button>
</form>

<form id="sign-in-form" name="signupForm"   >
  <h1>Registra't</h1>Nom<div class="nom">
  <input value="" id="nom" [(ngModel)]="nom" [ngModelOptions]="{standalone: true}">
</div>
Email
  <div class="email_signin"><input value="" id="username_signin" [(ngModel)]="correu" [ngModelOptions]="{standalone: true}">
</div>
Contrasenya
  <div class="contrasenya_signin">
    <input type="password" value="" id="password_signin" [(ngModel)]="contrasenya" [ngModelOptions]="{standalone: true}">
  </div>
  <button type="submit" id="submitData">Registrar-se</button>
</form>
