<div *ngFor="let product of products" class="producte">
  <h3>
    <div *ngIf="product">
      <img src="{{product.img}}" alt="" class="img-pro">
      <h4>{{ product.name }} <br></h4>
      <h3>Preu: {{ product.preu}} €</h3>
    </div>
  </h3>
  <button class="BotoCompra" (click)="addToCart(product)">Comprar</button>
</div>

<div class="filtres">
  <ul>
    <li>
      <input type="checkbox" onclick = "filterShown()"> Jocs
    </li>
    <br>
    <li>
      <input type="checkbox"> Consoles
    </li>
    <br>
    <li>
      <input type="checkbox"> Mandos
    </li>
  </ul>
</div>
