<html>
<body>
<article>
  <div id="play5" href="https://cdn.grupoelcorteingles.es/SGFM/dctm/MEDIA03/202009/18/00194481000019____4__640x640.jpg">
    <a title="play5">
      <img src="../IMG/play%205.jpg" alt="play5" height="300px"/></a><br>
    <p>Play Station 5: 500€</p>
  </div>
  <div id="mando" href="https://cdn.grupoelcorteingles.es/SGFM/dctm/MEDIA03/202009/18/00197581100498____8__640x640.jpg">
    <a title="mandops5">
      <img src="../IMG/mando.jpg" alt="mandoplay5" height="400px"/></a><br>
    <p>Mando Play Station 5: 70€</p>
  </div>
  <div id="juego" href="https://www.tradeinn.com/f/13788/137889380/ubisoft-juego-ps5-assassins-creed-valhalla.jpg">
    <a title="juegops5">
      <img src="../IMG/juegops5.jpg" alt="juegops5" height="400px"/></a><br>
    <p>Assassin's Creed Valhalla: 50€</p>
  </div>
  <div id="play4" href="https://i.blogs.es/821d94/ps4p1/1366_2000.jpg">
    <a title="play4">
      <img src="../IMG/play4.jpg.jpg" alt="play4" height="300px"/></a><br>
    <p>Play Station 4: 400€</p>
  </div>
</article>
</body>
</html>
