.producte{
  float: right;
  width: 350px
}

.img-pro{
  height: 60%;
  width: 60%;
}

.preu-quantitat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.BotoCompra{
  display: flex;
  flex-direction: row;
  border-collapse: collapse;
}
li{
  display: inline;
  color: black;
}

#menu {
  text-align: left;
  padding-bottom: 50px;
  background: black;
}

#menu a {
  float: left;
  color: white;
  text-align: center;
  padding: 15px 16px;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
#menu a:hover {
  background-color: white;
  color: black;
  border-bottom: 5px solid red;
  padding: 12px 15px;
}

#loginbar {
  float: right;
}

#loginbar a {
  text-decoration: none;
  color: white;
  background-color: red;
}
