.producte{
  float: right;
  width: 350px
}

.img-pro{
  height: 60%;
  width: 60%;
}

.preu-quantitat{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.BotoCompra{
  display: flex;
  flex-direction: row;
  border-collapse: collapse;
}
li{
  display: inline;
  color: black;
}
