<nav id="menu">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/cataleg" routerLinkActive="active">Catàleg</a>
  <a routerLink="/registre" routerLinkActive="active">Registre Client</a>
  <a routerLink="/cistella" routerLinkActive="active">Cistella</a>
  <a routerLink="/condicions" routerLinkActive="active">Condicions</a>
  <a routerLink="/contacte" routerLinkActive="active">Contacte</a>
  <a *ngIf="autenticat" routerLink="/perfil" routerLinkActive="active">Perfil</a>
  <div id="loginbar">
    <a *ngIf="!autenticat" class="ab-item" id="login" routerLink="/login" routerLinkActive="active">Inicia la sessió</a>
    <select *ngIf="autenticat" name="logout" id="logout">
      <option selected hidden>Hola, {{nomAutenticat}}</option>
      <option (click)="tancarSessio()">Tancar sessió</option>
    </select>
  </div>
</nav>

<div *ngFor="let product of products" class="producte">
  <h3>
    <div *ngIf="product">
      <img src="{{product.img}}" alt="" class="img-pro">
      <h4>{{ product.nom }} <br></h4>
      <h3>Preu: {{ product.preu}} €</h3>
    </div>
  </h3>
  <button class="BotoCompra" (click)="addToCart(product)">Comprar</button>
</div>

<div class="filtres">
  <ul>
    <li>
      <input type="checkbox" onclick = "filterShown()"> Jocs
    </li>
    <br>
    <li>
      <input type="checkbox"> Consoles
    </li>
    <br>
    <li>
      <input type="checkbox"> Mandos
    </li>
  </ul>
</div>
