<nav id="menu">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/cataleg" routerLinkActive="active">Catàleg</a>
  <a routerLink="/registre" routerLinkActive="active">Registre Client</a>
  <a routerLink="/cistella" routerLinkActive="active">Cistella</a>
  <a routerLink="/condicions" routerLinkActive="active">Condicions</a>
  <a routerLink="/contacte" routerLinkActive="active">Contacte</a>
  <a *ngIf="autenticat" routerLink="/perfil" routerLinkActive="active">Perfil</a>
  <a *ngIf="autenticat" routerLink="/canviarpasswd" routerLinkActive="active">Canviar Contrasenya</a>
  <div id="loginbar">
    <a *ngIf="!autenticat" class="ab-item" id="login" routerLink="/login" routerLinkActive="active">Inicia la sessió</a>
    <div *ngIf="autenticat" id="test">
      <h3>Hola, {{nomAutenticat}}</h3>
      <button (click)="tancarSessio()">Tancar Sessió</button>
    </div>
  </div>
</nav>


<h1 style="text-align: center">Perfil de {{nomAutenticat}}</h1>

  <div id="personalData">

    <label class="data"><b>Nom</b></label>
    <p>{{nomAutenticat}}</p>
    <label class="data"><b>Cognoms</b></label>
    <p>{{cognomAutenticat}}</p>
    <label class="data"><b>Adreça</b></label>
    <p>{{adrecaAutenticat}}</p>
    <label class="data"><b>Correu</b></label>
    <p>{{emailAutenticat}}</p>
    <label class="data"><b>Contrasenya</b></label>
    <p>{{passwordAutenticat}}</p>
    <label class="data"><b>Telefon</b></label>
    <p>{{telefonAutenticat}}</p>
  </div>
