<nav id="menu">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/cataleg" routerLinkActive="active">Catàleg</a>
  <a routerLink="/registre" routerLinkActive="active">Registre Client</a>
  <a routerLink="/cistella" routerLinkActive="active">Cistella</a>
  <a routerLink="/condicions" routerLinkActive="active">Condicions</a>
  <a routerLink="/contacte" routerLinkActive="active">Contacte</a>
  <a *ngIf="autenticat" routerLink="/perfil" routerLinkActive="active">Perfil</a>
  <div id="loginbar">
    <a *ngIf="!autenticat" class="ab-item" id="login" routerLink="/login" routerLinkActive="active">Inicia la sessió</a>
    <div *ngIf="autenticat" id="test">
      <h3>Hola, {{nomAutenticat}}</h3>
      <button (click)="tancarSessio()">Tancar Sessió</button>
    </div>
  </div>
</nav>

<article>
  <h2>SI ETS UN GAMER ESTAS A LA PAGINA CORRECTE</h2>
  <img width="auto" height="250" src="http://localhost:3080/imatges/call%20of%20duty.jpg"><br>
  <img width="auto" height="250" src="http://localhost:3080/imatges/fortnite.jpg">
  <img width="auto" height="250" src="http://localhost:3080/imatges/godjpg.jpg">
</article>
