<body style="height: 100%">
<article>
  <div class="container-form">
    <div class="info-form">
      <h2> Contacta'ns </h2>
      <p>Si us plau, fes-nos saber com et podem ajudar. Pots contactar amb nosaltres directament per xat, correu electrònic o telèfon. Estem fent tot el possible per garantir que rebeu una resposta el més aviat possible.</p>
      <p> Gràcies,</p>
      <br>
      <a> <i class="fa fa-phone">
      </i> 689241734 </a>
      <br>
      <a> <i class="fa fa-envelope">
      </i>tigames@gmail.com</a>
      <br>
      <a> <i class="fa fa-map-marked">
      </i> Girona, Espanya </a>
    </div>
    <form action="#" autocomplete="off"></form>
  </div>
</article>
<aside id="right_aside">
  <input type="text" name="nom" placeholder="Introduïu el vostre nom" class="controls">
  <input type="email" name="correu" placeholder="Introduïu el vostre correu electrònic" class="controls">
  <textarea class="controls" name="missatge" placeholder="Missatge"></textarea>
  <input type="submit" name="enviar" value="Enviar missatge" class="btn-enviar">
</aside>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47454.88300873964!2d2.783647733377539!3d41.98030862868054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12bae72798c8fdab%3A0xaf3845b6a5296a6f!2sGirona!5e0!3m2!1ses!2ses!4v1679561660598!5m2!1ses!2ses" width="1500" height="430" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>
<footer>
  <h1 id="footer_lletres">Les nostres xarxes socials:</h1>
  <a href="http://www.facebook.com/%22%3E "><img src="assets/IMG/facebook.jpg" class="Facebook"></a>
  <a href="http://www.twitter.com/%22%3E "><img src="assets/IMG/twitter.jpg" class="Twitter"></a>
  <a href="http://www.instagram.com/%22%3E "><img src="assets/IMG/instagram.jpg" class="Instagram"></a>
</footer>
