<link rel="stylesheet" href="menu.component.css">
<nav>
  <div id="menu">
    <a href="">Pàgina Principal</a>
    <a>Catàleg</a>
    <a routerLink="/cistella" routerLinkActive="active">Cistella</a>
    <a>Condicions</a>
    <a>Contacte</a>
    <div id = "botoRegistreClient" routerLink="/signin" routerLinkActive="active">
    <button type="button" data-loggedin="false" ><svg width="32" height="32" viewBox="0 0 24 24"><path d="M8 8a4 4 0 1 1 4 4 4 4 0 0 1-4-4zm11.89 10.55-1.44-2.89A3 3 0 0 0 15.76 14H8.24a3 3 0 0 0-2.69 1.66l-1.44 2.89A1 1 0 0 0 5 20h14a1 1 0 0 0 .89-1.45z"></path></svg></button>
    </div>
  </div>
</nav>

