<link rel="stylesheet" href="menu.component.css">
<nav>
  <div id="menu">
    <a routerLink="/inici" routerLinkActive="active">Pàgina Principal</a>
    <a routerLink="/cataleg" routerLinkActive="active">Catàleg</a>
    <a routerLink="/cistella" routerLinkActive="active">Cistella</a>
    <a routerLink="/condicions" routerLinkActive="active">Condicions</a>
    <a routerLink="/contacte" routerLinkActive="active">Contacte</a>

    <div id="botoLogoutClient" (click)="logout()">
      <button class="logout_button" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg></button>
    </div>

    <div id="botoRegistreClient" routerLink="/signin" routerLinkActive="active">
      <button class="login_button" type="button"><svg width="32" height="32" viewBox="0 0 24 24"><path d="M8 8a4 4 0 1 1 4 4 4 4 0 0 1-4-4zm11.89 10.55-1.44-2.89A3 3 0 0 0 15.76 14H8.24a3 3 0 0 0-2.69 1.66l-1.44 2.89A1 1 0 0 0 5 20h14a1 1 0 0 0 .89-1.45z"></path></svg></button>
    </div>

  </div>
</nav>

