<article>
  <div id="cond">
    <p>En aquesta pagina web, esteu comprant els productes a la empresa TI GAMES.</p><br>
    <p>Aqui podreu adquirir productes gamings, per aixo el que heu de fer es simplement anar al cataleg i selecionar el producte que voleu adquirir, el preu que es veu reflexat en el producte és el preu que te, aixo vol di que inclos l'iva. Perque sigui enviament gratuit ha de ser una compra superior a 50€.</p>
    <p>Els nostres productes tenen tots garantia gratuita de 2 anys (és trenca, el roben...) També tenim altres garanties pero aquestes ja no son gratuites</p>
    <p>Es pot tornar el producte? Si, pero has de cumlir uns certs requisits:</p>
    <p>-En un plaç de 15 dies</p>
    <p>-Tornar tot el que venia a la caixa</p>
    <p>-Si ha vingut fet malbe i no l'has trencat tu</p><br>
    <p>Si es compleixen aquests requisits podras tornar el producte sense problemes.</p>
    <p>Si el meu producte fa 3 mesos que el tinc entra en garantia? Si, el que has de fer es enviar-nos el producte i nosaltres l'arreglem, en el cas que no es pugui arreglar es donara la opció de tornar a enviar un altre igual o retornar els diners</p>
  </div>
</article>
