body {
  min-height: 100%;
}
img {
  height: 300px;
  width: 300px;
  display: block;
}
div {
  max-width: 300px;
  margin-right: 20px;
}
article {
  display: inline;
}
.producte {
  display: inline-block;
}
.estruturaCarrito {
  max-width: 70%;
}

.centrar_compra {
  display: inline-block;
  padding: 30px;
  width: 100%;
  float: right;
}

#Comprar_ara {
  cursor: pointer;
  -webkit-appearance: button;
  width: 200px;
  height: 30px;
  background-color: orangered;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
}

.vacio {
  margin-left: 12px;
}
