body {
  min-height: 100%;
}
img {
  height: 300px;
  width: 300px;
  display: block;
}
div {
  max-width: 300px;
  margin-right: 20px;
}
article {
  display: inline;
}
.producte {
  display: inline-block;
}
.estruturaCarrito {
  max-width: 70%;
}

.centrar_compra {
  display: inline-block;
  padding: 30px;
  width: 100%;
  float: right;
}

#Comprar_ara {
  cursor: pointer;
  -webkit-appearance: button;
  width: 200px;
  height: 30px;
  background-color: orangered;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
}

.vacio {
  margin-left: 12px;
}

#menu {
  text-align: left;
  padding-bottom: 50px;
  background: black;
}

#menu a {
  float: left;
  color: white;
  text-align: center;
  padding: 15px 16px;
  font-size: 20px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#menu a:hover {
  background-color: white;
  color: black;
  border-bottom: 5px solid red;
  padding: 12px 15px;
}

#loginbar {
  float: right;
}

#loginbar a {
  text-decoration: none;
  color: white;
  background-color: red;
}

#loginbar h3 {
  color: white;
}
