<article>
      <p>Entrega GRATIS en 3 dies laborals. <br><br>
        <strong>En Stock.</strong> <br><br>
        Quantitat: <select name="quantity" autocomplete="off" id="quantitat" tabindex="0" data-action="a-dropdown-select"
                           class="a-native-dropdown a-declarative"> <option value="1" selected="">1 </option>
          <option value="2">2 </option>  <option value="3">3 </option> <option value="4">4 </option>
          <option value="5">5 </option>  <option value="6">6 </option></select><br><br>

      <div class="centrar_compra">
        <input id="Comprar_ara" name="Comprar_ara" class="a-button-input" type="submit" value="Comprar ara">
      </div>
</article>
