<article>

  <h4 *ngIf="items.length === 0">
    <p>No tents cap producte.<p>
    <button class="back" routerLink="/cataleg"> Torna al cataleg</button></p>
  </h4>

  <div class="producte" *ngFor="let item of items; let i = index">
    <img src="{{item.img}}" alt="" class="img-pro"> <br>
    <h3>{{ item.name }} </h3>
    <h2>
      {{item.preu * item.quantity}} € <input type="number" class="qty" [value]="item.quantity" (blur)="ValidateInput($event,i)">
    </h2>
    <button (click)="esborrar(i)">DELETE</button>
  </div>

  <div class="centrar_compra">
    <input id="Comprar_ara" name="Comprar_ara" class="a-button-input" type="submit" value="Comprar ara" (click)="clearAll()">
  </div>
</article>
