header{
  background-color: black;
  color: white;

}
#logo{
  float: left;
  display: inline-block;
}
header h1{
  text-align: center;
}
header p{
  text-align: center
}
.login_button{
  display: inline-block;
}
#logout {
  color: -webkit-activelink;
  display: inline-block;
}
#userInteractions{
  margin-left: 93%;
}
#userName {
  color: red;

}

