header{
  background-color: black;
  color: white;
}
#logo{
  float: left;
  display: inline;
}

header h1{
  text-align: center;
}
header p{
  text-align: center
}
.login_button{
  display: inline-block;
}
.username_intitle {
  margin-right: 10px;
}


