<nav id="menu">
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/cataleg" routerLinkActive="active">Catàleg</a>
  <a routerLink="/registre" routerLinkActive="active">Registre Client</a>
  <a routerLink="/cistella" routerLinkActive="active">Cistella</a>
  <a routerLink="/condicions" routerLinkActive="active">Condicions</a>
  <a routerLink="/contacte" routerLinkActive="active">Contacte</a>
  <a *ngIf="autenticat" routerLink="/perfil" routerLinkActive="active">Perfil</a>
  <div id="loginbar">
    <a *ngIf="!autenticat" class="ab-item" id="login" routerLink="/login" routerLinkActive="active">Inicia la sessió</a>
    <div *ngIf="autenticat">
    <h3>Hola, {{nomAutenticat}}</h3>
    <button (click)="tancarSessio()"></button>
    </div>
  </div>
</nav>

<h1 style="text-align: center">Registra't</h1>

<div id="formulari">
  <form (submit)="registrar()" ngNativeValidate>
    <div class="inputDiv">
      <label for="nom"><b>Nom</b></label>
      <input [(ngModel)]="nom" [ngModelOptions]="{standalone: true}" type="text" id="nom" placeholder="Nom" required>
    </div>

    <div class="inputDiv">
      <label for="cognoms"><b>Cognoms</b></label>
      <input [(ngModel)]="cognoms"  [ngModelOptions]="{standalone: true}" type="text" id="cognoms" placeholder="Cognoms" required>
    </div>

    <div class="inputDiv">
      <label for="adreça"><b>Adreça</b></label>
      <input [(ngModel)]="adreca"  [ngModelOptions]="{standalone: true}" type="text" id="adreça" placeholder="Adreça" required>
    </div>

    <div class="inputDiv">
      <label for="correu"><b>Correu</b></label>
      <input  [(ngModel)]="correu" [ngModelOptions]="{standalone: true}" type="email" id="correu" placeholder="Correu electrònic" required>
    </div>

    <div class="inputDiv">
      <label for="contrasenya"><b>Contrasenya</b></label>
      <input [(ngModel)]="passwd" [ngModelOptions]="{standalone: true}" type="password" id="contrasenya" placeholder="Contrasenya" required>
    </div>

    <div class="inputDiv">
      <label for="telefon"><b>Telèfon</b></label>
      <input [(ngModel)]="telefon"  [ngModelOptions]="{standalone: true}" type="tel" id="telefon" placeholder="Telèfon" pattern="[0-9]{9}" required>
    </div>
    <button type="submit" >Registra't</button>
    <button type="reset">Neteja</button>
  </form>
</div>
